.tableContainer {
  border-radius: 10px;
  box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
  width: 100%;
  padding: 16px;

  table {
    width: 100%;

    .tableHeader {
      th:first-child {
        border-radius: 10px 0 0 0;
      }

      th {
        background-color: #6c7ae0;
        color: #ffffff;
        text-align: left;
        padding: 8px 40px;
      }

      th:last-child {
        border-radius: 0 10px 0 0;
      }
    }

    .tableItems {
      tr:nth-child(even) {
        background-color: #f8f6ff;
      }

      td {
        padding: 8px 40px;
        text-align: left;
      }
    }
  }
}
